@import './base.css';

#app{
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --background-color: white;
    --text-color: #333;
    --button-bg-color: #333;
    --button-text-color: white;
    --img-bg-color: #f1f1f1;
    --nav-background-color-light: #f8f9fa;
    --nav-text-color-light: #007bff;
    --nav-background-color-dark: #343a40;
    --nav-text-color-dark: #f8f9fa;
}



@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --text-color: white;
        --button-bg-color: white;
        --button-text-color: #333;
        --img-bg-color: #f1f1f1;
        --nav-background-color-light: #343a40;
        --nav-text-color-light: #f8f9fa;
        --nav-background-color-dark: #1c1c1c;
        --nav-text-color-dark: #f8f9fa;
    }
}
